body {
  background: linear-gradient(55deg,#C6FFDD 10%,#FBD786 80%);
  background: ivory;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

div > h1 {
  font-size: 1.8rem;
}


header .row {
  display: flex;
  align-items: center;
}

section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  height: 350px;
  background-image: url("../images/lovemylife.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.jumbotron p {
  display: inline-block;
  color: black;
  font-weight: 900;
  padding: 10px 35px;
  font-size: 250%;
  font-family: "Comic Sans MS", cursive, sans-serif;
/*  font-family: 'Indie Flower', cursive;*/
  text-transform: uppercase;
  line-height:50px
}
